@media (max-width: 614px) {

h1{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    width: 117px;
}

main .card { 
    margin-right: 0px;
}


}